:root {
    --white: #ffffff;
    --accent-color: #428f55;
    --text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7)
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    flex: 1;
}
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero_bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
.hero_content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: var(--white);
}
.hero-title {
    font-size: 3rem;
    margin-bottom: 30px;
    text-shadow: var(--text-shadow);
}
.search-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.search-form {
    display: flex;
    gap: 40px;
    align-items: flex-end;
}
.form-input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 250px;
    outline: none;
}
.date-input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 250px;
    outline: none;
    
}
.btn_primary {
    background-color: var(--accent-color);
    color: var(--white);
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn_primary:hover {
    filter: brightness(1.2);
}
.site-footer {
    position: static;
    width: 100%;
    margin-top: auto;
    background: transparent;
    padding: 30px 0 15px ;   
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}
.footer-brand,
.footer-nav,
.footer-socials {
    flex: 1 1 260px;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    opacity: 0.7;
}
@media (max-width: 768px) {
    .footer-top {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
